@keyframes riseInFade {
    0% {
        transform: translateY(15%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.container {
    display: flex;
    justify-content: center;
}

.article {
    animation: riseInFade 0.7s;
    width: 75%;
    background-color: #10071d;
    padding: 2em;
    margin-top: 5em;
    line-height: 2rem;
    @media(max-width: 768px) {
        width: 85%;
        text-align: center;
    }
}

.title {
    display: inline-block;
    font-size: 3rem;
    margin-bottom: 1rem;
    background-image: linear-gradient(90deg, rgb(173, 67, 192) 0%, rgba(234,105,139,1) 100%);
    background-clip: text;
    color: transparent;
}

.date {
    font-weight: 200;
    font-style: italic;
    color: #bfbfbf;
    margin-bottom: 1.7rem
}

.divider {
    border-top: 1px solid #47126b;
    margin-bottom: 2rem;
}

.content {
    h1, h2, h3 {
        display: inline-block;
        padding-bottom: 0.5rem;
        background-image: linear-gradient(90deg, rgb(173, 67, 192) 0%, rgba(234,105,139,1) 100%);
        background-clip: text;
        color: transparent;
    }

    ol {
        list-style-type: none;
        margin: 0;

    }
}