.title {
    display: inline-block;
    font-size: 3rem;
    padding-bottom: 0.5rem;
    background-image: linear-gradient(90deg, rgb(173, 67, 192) 0%, rgba(234,105,139,1) 100%);
    background-clip: text;
    color: transparent;
}