@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
}

.container {
    margin-top: 5em;
}

.title {
    animation: fadeInLeft 0.7s;
    display: inline-block;
    font-size: 4rem;
    padding-bottom: 0.5rem;
    background-image: linear-gradient(90deg, rgb(173, 67, 192) 0%, rgba(234,105,139,1) 100%);
    background-clip: text;
    color: transparent;
    margin-bottom: 2rem;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width: 100%;
    @media(max-width:768px) {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-bottom: 2em;
    }
    h3 {
        font-weight: 400;
        background-image: linear-gradient(90deg, rgb(173, 67, 192) 0%, rgba(234,105,139,1) 100%);
        background-clip: text;
        color: transparent;
        display: inline-block;
        padding-bottom: 5px;
    }
}


.socials {
    animation: fadeInRight 1s;
    width: 48%;
    height: 6em;
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 3rem;
    background-color: #10071d;
    padding: 2rem;
    border-bottom: 3px solid #ac46a1;
    @media(max-width:768px){
        width: 75%;
    }
}

.icon {
    color: whitesmoke;
    &:nth-of-type(1) {
        margin-bottom: 2rem;
    }
}