.container {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
}

.navbar {
    padding: 2rem 2rem 0.2rem 1rem;
    background-color: #140925;
    max-width: 1280px;
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5em;
    margin-bottom: 3rem;
}

.logo {
    width: 1.7em;
    height: 1.7em;
    margin-bottom: none;
    color: #d295bf;
}

.burgerMenu {
    
    @media(max-width: 768) {
        display: inline-block;
    }
}

.list {
    width: 15em;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: none;

    @media(max-width: 768px) {
        flex-flow: column nowrap;
        align-self: flex-start;
        position: fixed;
        top: 0;
        right: 0;
        width: 10em;
        height: 100vh;
        text-align: start;
        padding: 2rem;
        padding-top: 4em;
        padding-bottom: 60vh;
        background-color: #140925;
        font-weight: bold;
        z-index: 1;

    }
}

.link {
    color: whitesmoke;
    font-size: 0.9rem;
    text-decoration: none;
    margin: none;
    transition: all 0.3s;
}

.link:hover {
    color: #d295bf;
    padding: 3px 0.5em;
}

.activeLink {
    border-bottom: 1px solid #d295bf;
    padding-bottom: 3px;
}