@keyframes fadeInLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
  
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

.emailForm {
    animation: fadeInLeft 1s;
    display: flex;
    flex-direction: column;
    width: 48%;
    line-height: 3rem;
    background-color: #10071d;
    padding: 2rem;
    border-bottom: 3px solid #ac46a1;
    @media(max-width: 768px){
        margin-right: 0;
        width: 75%;
    }
}

h3 {
    font-size: 1.8rem;
}

input {
    line-height: 2rem;
    background-color: #1b0c31;
    border: none;
    border-bottom: 1px solid #ac46a1;
    margin-bottom: 1.5rem;
    color: whitesmoke;
    transition: all 0.2s;
    
    &::placeholder {
        color: whitesmoke;
        padding: 5px;
    }

    &:hover {
        background-color: #22103d;
    }
}

.message {
    background-color: #1b0c31;
    line-height: 1rem;
    height: 6em;
    border: none;
    border-bottom: 1px solid #ac46a1;
    margin-bottom: 1.5rem;
    color: whitesmoke;
    padding: 5px;
    transition: all 0.2s;

    &::placeholder {
        color: whitesmoke;
        padding: 5px;
    }

    &:hover {
        background-color: #22103d;
    }
}

.send {
    background-color: #d55d92;
    color: whitesmoke;
    border-radius: 4px;
    transition: all 0.1s ease-in;
    margin-bottom: 0;

    &:hover {
        background-color: #ee78ab;
        cursor: pointer;
    }
}