.emailForm {
    display: flex;
    flex-direction: column;
    width: 50%;
    line-height: 3rem;
    background-color: #10071d;
    padding: 2rem;
    border-bottom: 3px solid #ac46a1;
    margin-right: 3em;
}

h3 {
    color: #eb7aab;
    font-size: 1.8rem;
}

input {
    line-height: 2rem;
    background-color: #1b0c31;
    border: none;
    border-bottom: 1px solid #ac46a1;
    margin-bottom: 1.5rem;
    color: whitesmoke;
    
    &::placeholder {
        color: whitesmoke;
        padding: 5px;
    }
}

.message {
    background-color: #1b0c31;
    line-height: 1rem;
    height: 6em;
    border: none;
    border-bottom: 1px solid #ac46a1;
    margin-bottom: 1.5rem;
    color: whitesmoke;
    padding: 5px;
    &::placeholder {
        color: whitesmoke;
        padding: 5px;
    }
}

.send {
    background-color: #d55d92;
    color: whitesmoke;
    border-radius: 4px;
    transition: all 0.1s ease-in;
    margin-bottom: 0;
    &:hover {
        background-color: #ee78ab;
        cursor: pointer;
    }
}