@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');
 
 * {
    font-family: Montserrat;
 }

.container {
    margin: 0 auto;
    max-width: 1280px;
    padding: 1rem;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    @media(max-width: 768px) {
        text-align: center;
    }
}

.content {
    flex-grow: 1;
}