@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

.background {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: none;
}

.modal {
    width: 45%;
    height: auto;
    box-shadow: 0 5px 16px rgba(0,0,0,0.2);
    background: #140925;
    border-bottom: 3px solid #ac46a1;
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 50;
    left: 50;
    z-index: 999;
    animation: fadeInLeft 1s;

    @media(max-width: 1000px) {
        width: 75%;
    }

    img {
        width: 100%;
        height: 50%;
        margin: 0;
    }

    section {
        padding: 1em 2em;
        display: flex;
        flex-direction: column;
        h3 {
            width: 100%;
            display: block;
            font-weight: 700;
        }

        .x {
            width: 100%;
            display: flex;
            justify-content: flex-end;
            font-size: 1.2rem;

            a {
                text-decoration: none;
                color: #ac46a1;
            }
        }

        div {
            display: flex;
            justify-content: space-around;
            margin-bottom: 0.75rem;

            @media(max-width: 768px) {
                flex-direction: column;
                align-items: center;
            }
            
            .info {
                display: flex;
                flex-direction: column;
                align-items: center;

                p {
                    width: 100%;
                }

                div {
                    width: 80%;
                    display: flex;
                    @media(max-width: 1155px) {
                        flex-direction: column;
                        line-height: 3rem;
                    }
                    @media(max-width: 768px) {
                        flex-direction: row;
                        margin-bottom: 1rem;
                    }
                    @media(max-width: 513px) {
                        flex-direction: column;
                    }

                    a {
                        margin: 0;
                        color: #d55d92;
                        text-decoration: none;
                        padding: 0.5em 0.9em;
                        border: 2px solid #d55d92;
                        border-radius: 3px;
                        
                        &:hover {
                            cursor: pointer;
                            background-color: #7e308b56;
                        }
                    }
                }

            }
            
            .stack {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;

                h3 {
                    font-size: 1.5rem;
                }

                ul {
                    list-style-type: none;
                    margin: 0;
                    display: flex;
                    flex-wrap: wrap;
                    width: 50%;
                    
                    li {
                        width: 50%;
                        font-size: 1.5rem;
                        transition: color 0.2s;

                        &:hover {
                            color: #e991b7;
                        }
                    }

                    @media(max-width: 768px) {
                        width: 100%;
                        text-align: center;
                        li {
                            width: 33%;
                        }
                    }
        
                }
            }
            
        }

    }
}